.shop {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: royalblue;
    font-family: kavoon;
    font-size: 25px;
    color: white;
    width: 100%;
    height: 50px;
}

.cursor__panel {
    opacity: 0.5;
    font-size: 25px;
    font-family: kavoon;
    color: red;
    position: relative;
    top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 100%;
    height: 110px;
    background-color: rgba(14,36,118,0.44)
}

.LM__panel {
    opacity: 0.5;
    font-size: 25px;
    font-family: kavoon;
    color: red;
    position: relative;
    top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 100%;
    height: 110px;
    background-color: rgba(14,36,118,0.44)
}

.whistle__panel {
    opacity: 0.5;
    font-size: 25px;
    font-family: kavoon;
    color: red;
    position: relative;
    top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    align-items: center;
    width: 100%;
    height: 110px;
    background-color: rgba(14,36,118,0.44)
}

.school__panel {
    opacity: 0.5;
    font-size: 25px;
    font-family: kavoon;
    color: red;
    position: relative;
    top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110px;
    border: 1px solid black;
    background-color: rgba(14,36,118,0.44)
}

.stick__panel {
    opacity: 0.5;
    font-size: 25px;
    font-family: kavoon;
    color: red;
    position: relative;
    top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110px;
    border: 1px solid black;
    background-color: rgba(14,36,118,0.44)
}

.hookah__panel{
    opacity: 0.5;
    font-size: 25px;
    font-family: kavoon;
    color: red;
    position: relative;
    top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110px;
    background-color: rgba(14,36,118,0.44);
    border: 1px solid black;
}

.school {
    position: relative;
    bottom: 75px;
    right: 370px;
    width:100px;
    height:100px;
}

.price {
    position: relative;
    top: 45px;
}

.cursor__price {
    position: relative;
    top: 110px;
}

.school__price {
    position: relative;
    top:110px;
}

.cursor {
    position: relative;
    bottom: 75px;
    right: 370px;
    width:100px;
    height:100px;
}

.cursor__counter {
    position: relative;
    left:350px;
    top: 25px;
    font-size: 100px;
}

.school__counter {
    position: relative;
    left:350px;
    top: 25px;
    font-size: 100px;
}

.LM {
    position: relative;
    bottom: 80px;
    right: 370px;
    width: 150px;
    height:100px;
}

.LM__price {
    position: relative;
    top:110px;
}

.LM__counter {
    position: relative;
    left:350px;
    top: 25px;
    font-size: 100px;
}

.whistle {
    position: relative;
    bottom: 80px;
    right: 370px;
    width: 150px;
    height:100px;
}

.whistle__price {
    position: relative;
    top:110px;
}

.whistle__counter {
    position: relative;
    left:350px;
    top: 25px;
    font-size: 100px;
}

.stick {
    position: relative;
    bottom: 80px;
    right: 360px;
    width: 150px;
    height:100px;
}

.stick__price {
    position: relative;
    top:110px;
}

.stick__counter {
    position: relative;
    left:350px;
    top: 25px;
    font-size: 100px;
}

.hookah {
    position: relative;
    bottom: 80px;
    right: 360px;
    width: 150px;
    height:100px;
}

.hookah__price{
    position: relative;
    top:110px;
}

.hookah__counter{
    position: relative;
    left:350px;
    top: 25px;
    font-size: 100px;
}