{
  "presets": [
    [
      "env",
      {
        "debug": false,
        "modules": false
      }
    ]
  ],
  "env": {
    "test": {
      "presets": ["es2015"],
      "plugins": [
        "transform-es2015-modules-commonjs",
        "dynamic-import-node"
      ]
    }
  }
}
